.templates {
	display: none;
}

.colour-chip {
	height: 100px;
	background-color: black;
}

.navbar-inverse {
	background: none;
	border: none;
}

.navbar-inverse .navbar-brand {
	color: white;
}















